<configuration>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="io.Mumuapi" level="debug">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="io.Mumuapi" level="warn">
        <appender-ref ref="FILE" />
    </logger>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>